<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Spring Security Example</title>
</head>
<body>
	<div th:fragment="logout" class="logout"
		sec:authorize="isAuthenticated()">
		Logged user: <span sec:authentication="name">Bob</span> | Roles: <span
			sec:authentication="principal.authorities">[ROLE_USER,
			ROLE_ADMIN]</span> |
		<!--             /* When using CSRF this needs to be a POST */ -->
		<form th:action="@{/logout}" method="post" style="display: inline">
			<input type="submit" value="Logout" />
		</form>
	</div>

	<div th:fragment="logout" class="logout"
		sec:authorize="!isAuthenticated()">
		Logged user: <span sec:authentication="name">Bob</span> |
		<!--             Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span> | -->
		<!--             /* When using CSRF this needs to be a POST */ -->
		<form th:action="@{/logout}" method="post" style="display: inline">
			<input type="submit" value="Logout" />
		</form>
	</div>

	<h1>Spring Security Example</h1>
	<p>This is a public page, but you can navigate to protected pages
		to trigger authentication.</p>
	<p>Different content is shown depending on the role of the
		authenticated user.</p>

	<!--         <div sec:authorize="!isAuthenticated()">> -->
	This content is only shown to
	<b>administrators</b>.
	<p>
		Click <a th:href="@{/hello}">here</a> to see a greeting.
	</p>
	<!--         </div> -->
	<!--         <div sec:authorize="!isAuthenticated()">> -->
	This content is only shown to
	<b>users</b>.
	<p>
		Click <a th:href="@{/time}">here</a> to see current time.
	</p>
	<!--         </div>      -->

	<h2>Exception handling</h2>
	<ul>
		<li>You can <a href="error.html" th:href="@{/simulateError.html}">simulate
				an exception</a> to see custom ErrorPage.
		</li>
	</ul>
</body>
</html>